services:
  openwebui:
    image: ghcr.io/open-webui/open-webui:main-slim
    ports:
      - "3000:8080"
    volumes:
      - open-webui:/app/backend/data
    restart: unless-stopped
  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ${CONFIGDIR}/radarr:/config
      - ${PLEXDIR}/media/movies:/movies #optional
      - ${PLEXDIR}/downloads:/downloads #optional
    ports:
      - 7878:7878
    restart: unless-stopped
  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ${CONFIGDIR}/sonarr:/config
      - ${PLEXDIR}/media/tv:/tv #optional
      - ${PLEXDIR}/downloads:/downloads #optional
    ports:
      - 8989:8989
    restart: unless-stopped
  sabnzbd:
    image: lscr.io/linuxserver/sabnzbd:latest
    container_name: sabnzbd
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ${CONFIGDIR}/sabnzbd:/config
      - ${PLEXDIR}/downloads:/downloads #optional
      - ${PLEXDIR}/incomplete:/incomplete-downloads #optional
    ports:
      - 8080:8080
    restart: unless-stopped
  syncthing:
    image: lscr.io/linuxserver/syncthing:latest
    container_name: syncthing
    hostname: syncthing #optional
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ${CONFIGDIR}/syncthing:/config
      - ${SYNCDIR}:/sync #optional
    ports:
      - 8384:8384
      - 22000:22000/tcp
      - 22000:22000/udp
      - 21027:21027/udp
    restart: unless-stopped
  sillytavern:
    build: ..
    container_name: sillytavern
    hostname: sillytavern
    image: ghcr.io/sillytavern/sillytavern:latest
    environment:
      - NODE_ENV=production
      - FORCE_COLOR=1
    ports:
      - "8000:8000"
    volumes:
      - "${CONFIGDIR}/sillytavern/config:/home/node/app/config"
      - "${CONFIGDIR}/sillytavern/data:/home/node/app/data"
      - "${CONFIGDIR}/sillytavern/plugins:/home/node/app/plugins"
      - "${CONFIGDIR}/sillytavern/extensions:/home/node/app/public/scripts/extensions/third-party"
    restart: unless-stopped
volumes:
  open-webui: